apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: "15s"
      queryTimeout: "60s"
      incrementalQuerying: true
      incrementalQueryOverlapWindow: "10m"
      disableRecordingRules: false
      customQueryParameters: ""
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo
    version: 1

  # Additional datasource for long-term storage (if using Thanos/Cortex)
  - name: Prometheus-LongTerm
    type: prometheus
    access: proxy
    url: http://thanos-query:9090
    isDefault: false
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: "1m"
    version: 1